<div class="call">
  <div class="call-box-top">
    {% if site.data.contact.phone %}
        <div class="call-phone"><strong>Phone: </strong> {{ site.data.contact.phone }} </div>
    {% endif %}
    {% if site.data.contact.email %}
    <div class="call-email"><strong>Email: </strong>
      <a href="mailto:{{ .site.data.contact.email }}">
        {{ site.data.contact.email }}
      </a>
    </div>
    {% endif %}
    {% if site.data.contact.address %}
    <div class="call-address"><strong>Address: </strong>
      {{ site.data.contact.address }}
    </div>
    {% endif %}
  </div>
    {% if include.show_button %}
      <div class="call-box-bottom">
        <a href="{{ site.data.contact.contact_button_link }}" class="button">Contact</a>
      </div>
    {% endif %}
</div>

<br />

<h2>Find us on:</h2>
<div class="call">
  <div class="call-box-top">
    <div class="social">
      {% for item in site.data.social %}
        <a href="{{ item.link }}" target="blank"><img src="{{ item.image | relative_url }}" title="{{ item.name }}" alt="{{ item.name }}" /></a>
      {% endfor %}
    </div>
  </div>
</div>
