---
layout: default
bodyClass: "page-home"
---
<div class="flex justify-center-safe">
  <div class="banner container-fluid p-0">
    <div data-ride="carousel" class="carousel slide" id="carouselExampleCaptions">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <iframe 
            width="100%" 
            height="650" 
            src="https://www.youtube.com/embed/zZ_9FextDDU?autoplay=1&controls=0&disablekb=1&fs=0&loop=1&mute=1" 
            id="Untitled" 
            frameborder="0" 
            rel="1"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen=""></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="flex justify-center-safe">
    <img src="/images/logo-transparent.png" class="max-w-sm md:max-w-2xl" />
  </div>
  <div class="text-center mt-4">
    {{ content }}
  </div>
</div>

<div class="strip strip-grey">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <div class="row justify-content-center">
      <h2>
        Listen to a few of our performances below 
      </h2>
      <iframe 
        width="100%" 
        height="265" 
        scrolling="no" 
        frameborder="no" 
        src="https://www.reverbnation.com/widget_code/html_widget/artist_7395?widget_id=55&pwc[included_songs]=1&context_type=page_object&pwc[size]=small" 
        style="width:0px;min-width:100%;max-width:100%;" />
    </div>
  </div>
</div>